.imagen{
    width: 800px;
    height: 500px;
}

.bodycss{
    background-color: rgb(0, 0, 0);
}

.letra{
    font-family: 'Times New Roman', Times, serif;
}

.titulo{
    font-size: 75px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#titulo-carrusel{
    margin-top: 10px;
    color: white;
}

.texto-carrusel{
    color: rgb(235, 86, 6);
}

.card-1{
    margin-left: 500px;
}

.titulos-2{
    background-color:  #4b83ab;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.pie-pagina{
    text-align: center;
    margin-top: 10px;
}

.texto-biografia{
    font-size: 20px;
    text-align: center;
}

.titulo-biog{
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color:  #4b83ab;
    border-radius: 32px;
}

.card-biog{
    background-color:  #4b83ab;
    color: white;
}

.titulos{
    padding-left: 50px;
    margin-left: 50px;
    font-size: 20px;
    text-align: center;
}
